html {
    width:100%;
    height:100%;
}
body {
    margin:0;
    padding:0;
    box-sizing: border-box;
    min-height: 100%;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
  }
  a {
    color:var(--clear-blue-a);
    text-decoration: none;
}
  a:visited {
    color:var(--clear-blue-a);
}
a:hover {
    text-decoration: underline;
}

  .logo {
    width: 100%;
    height: 100%;
    padding: 15px 0;
    text-align: center;
  } 
  .logo img {
    width: 7%;
  } 

  .loginbox {
    position: relative;
    width: 380px;
    height:420px;
    margin:auto;
    border:2px solid rgb(177, 177, 177, 0.3);
    border-radius: 5px;
    padding:10px 35px;
    font-weight:600;  
      
}



.loginbox input, #passtxt  {
    width:100%;
    height:35px;
    border-radius: 5px;
}
.loginbox button {
    width:102%;
    height:40px;
    background:linear-gradient(180deg, var(--mostarda-clear), var(--mostarda));
    margin: 15px 0px;
    border-radius: 5px;
    font-size: 16px;
}
.loginbox button:hover {
    background:linear-gradient(180deg,var(--mostarda), var(--mostarda-clear));
    cursor: pointer;
}
.termoslegais {
    font-weight: lighter;
    font-size:14px;
}
i {
    color:var(--clear-gray);
}
.passbox {
    position: relative;
    width: 380px;
    height:420px;
    margin:auto;
    border:2px solid rgb(177, 177, 177, 0.3);
    border-radius: 5px;
    padding:10px 35px;
    font-weight:600; 
}

.passbox button {
    width:102%;
    height:40px;
    background:linear-gradient(180deg, #f4d37f, #f0c24d);
    margin: 15px 0px;
    border-radius: 5px;
    font-size: 16px;
}
.passbox button:hover {
    background:linear-gradient(180deg,#f0c24d, #f4d37f);
    cursor: pointer;
}
.passbox .passrecov {
    float:right;
    font-weight: 400;
}
.emailpass {
    font-weight: 400;
}
.manterconectado {
    font-weight: 400;
}
.manterconectado label  {
    vertical-align:middle;
}
.manterconectado input {
    width:20px;
    height: 20px;
    vertical-align:middle ;
}



.ajuda {
    position: absolute;
    bottom:25px;
    font-weight: lighter;
}
.divisor {
    margin:auto;
    text-align:center;
    width:19%;
    margin-top:30px;
    border-bottom:2px solid rgb(177, 177, 177, 0.4);
    position:relative
}
.divisor span {
    position: absolute;
    top:-11px;
    left:160px;
    z-index: 2;
    background-color: #fff;
    color:#818181;
}

.criarconta {
    margin:30px auto;
    text-align: center;
    width: 19%;
    height:auto;
}
.criarconta input {
    width:100%;
    height:45px;
    border:2px solid #818181ff;
    border-radius: 5px;
    background:linear-gradient(180deg, #e7e9ec, #f6f7f9);
    
}
.criarconta input:hover {
    background:linear-gradient(180deg,#f6f7f9, #e7e9ec);
    cursor: pointer;
}
.rodape {
    background-color: #fdfdfd;
    padding:20px;
    border-top: 3px solid ;
    font-size:14px;
    border-image: linear-gradient(90deg, #fff 0%, rgb(131, 131, 131, 0.2) 50%, #fff 100%) 1;
    margin:20px;
}
.rodape ul {
    list-style: none;
    text-align: center;
    margin:25px;
    
}
.rodape ul li {
 display:inline;
 text-decoration: none;
 margin:12px;
 padding:15px;  
}

p {
    text-align: center;
    color:#818181;
    
}